<!--<ul class="nav navbar-nav">

            <li><a href="#"><span class="glyphicon glyphicon-send"></span> Link</a></li>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Link</a></li>
			
</ul>-->
<!--<md-sidenav class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left">
    <md-toolbar layout="row">
     <div class="md-toolbar-tools">
        <h2>
          <span>Side Panel</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
        </md-button>
       </div>
    </md-toolbar> 
    <md-content layout-padding="">
      Side navigation Panel
    </md-content> 
</md-sidenav>-->
<!--<nav class="navbar navbar-default navbar-fixed-left">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <span class="visible-xs">KL</span>
                <span class="hidden-xs">Kaitani Labs</span>
            </a>
            <p class="navbar-text">
                <a href="#" class="sidebar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <i class="fa fa-bars"></i>
                </a>
            </p>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="navbar-btn">
                        <i class="fa fa-bell"></i>
                    </button>
                </li>
                <li class="dropdown">
                    <button class="navbar-btn" data-toggle="dropdown">
                        <img src="http://lorempixel.com/30/30/people" class="img-circle">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li class="nav-divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
<!--<div class="col-xs-12 col-sm-3" style="height: 100%;">-->
	<ul class="nav nav-sidebar">
		<li><a href="#"><span class="glyphicon glyphicon-send"></span> Link</a></li>
		<li class="active"><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Link</a></li>
	</ul>
<!--</div>-->